*{
    text-align: center;
    background-color: #444;
    color: white;
    font-family: TicTacToe;
    font-weight: bold;
    cursor: default;
    border-color: white;
}
@font-face {
    font-family: TicTacToe;
    src: url("TicTacToe.ttf");
}
#thetitle,.switchcolor{
    color: #444;
    background-color: white;
}
#thetitle{
    font-size: 40px;
}
input{
    height: 20px;
    width: 20px;
}
input,button,span{
    cursor: pointer;
}
#tictactoe,#circle,#cross,#pgexitbtn,#playbtn{
    border:2px solid;
}
#playbtn,#tictactoe,span,#circle,#cross,#pgexitbtn{
    border-radius: 30px;
}
#playbtn{
    height: 100px;
    width: 150px;
    font-size: 30px;
}
#tictactoe{
    display: grid;
    grid-template-columns:auto auto auto ;
    width: 500px;
    height: 500px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
span{
    padding: 10px;
    border:1px solid;
    font-size: 100px;
    height: 145px;
    width: 145px;
    font-family: cursive;
}
h1,#cross,#circle{
    font-size: 50px;
}
#cross,#circle,span,#playbtn,h2,#pgexitbtn{
    font-family: cursive;
}
#cross,#circle{
    height: 100px;
    width: 100px;
}
#choice{
    text-align: left;
}

#pgexitbtn{
    font-size: 20px;
    height: 100px;
    width: 200px;
    position: relative;
    top: 100px;
    left: 450px;
}
.hide{
    display: none;
}



